NODE_ENV=development
PORT=3002
HOST=127.0.0.1
DATABASE_PATH=./data/kidview.sqlite
SESSION_SECRET=fjh29h239f8h238fh9283hf982hf298h43f982h9fh298
SESSION_COOKIE_NAME=kidview.sid
SEED_PARENT_EMAIL=parent@example.com
SEED_PARENT_PASSWORD=password123
